/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9; /* Fondo claro */
}

p, li {
    font-size: 1.2rem;
}

/* Paleta de colores basada en la Policía de Entre Ríos */
:root {
    --primary-color: #003366; /* Azul oscuro institucional */
    --secondary-color: #00509e; /* Azul intermedio */
    --accent-color: #A827DF    ; /* Purpura */
    --background-color: #f4f4f9; /* Fondo claro */
    --text-color-light: #ffffff; /* Blanco */
}

/* Header */
.header {
    /* background-image: url('/img/huella digital.png'); /* Reemplaza con la URL de tu imagen */
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0); /* Degradado de gris claro a gris medio */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #1a237e; /* Ajusta el opacado (opcional) */
    color: var(--text-color-light);
    text-align: center;
    padding: 3rem 1rem;
    position: relative;
    overflow: hidden;
}

.header h1 {
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    font-family: 'Georgia', serif; /* Cambia la fuente */
    font-weight: bold; /* Hace el texto más grueso */
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade una sombra sutil */
    letter-spacing: 1px; /* Añade espacio entre letras */
    line-height: 1.2; /* Ajusta el espaciado entre líneas */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.header h1::after {
    content: "Avances y Desafíos en Ciencias Forenses"; /* Añade un subtítulo */
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: none; /* Evita que el subtítulo esté en mayúsculas */
    margin-top: 0.5rem;
    letter-spacing: normal; /* Restablece el espaciado entre letras */
}

.header p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-style: italic;
}

.header .logo {
    max-height: 350px; /* Reduce la altura máxima del logo */
    /* o */
    max-width: 300x; /* Reduce el ancho máximo del logo */
}

/* Botón CTA */
.cta-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: #F0EDF9    ;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
}

/* Estilos generales para secciones */
section {
    padding: 4rem 1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.narrow {
    max-width: 800px; /* Ancho máximo para el contenido central */
    margin: auto;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Sección "Sobre el Congreso y Objetivos" en dos columnas */
.about-section .two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas responsivas */
    gap: 2rem;
}

.about-section .two-columns h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

/* Estilo de listas personalizadas */
ul.custom-list {
    list-style: none;
    padding-left: 0;
}

ul.custom-list li {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    position: relative;
    text-align: justify;
}

ul.custom-list li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #72cb10;
    font-weight: bold;
}

/* Separación antes de la lista */
.about-section .two-columns div:first-child p {
    margin-bottom: 1.5rem; /* Agrega margen inferior */
}

/* Sección "Tópicos Principales" */

.topics-section .container.narrow h2 {
    color: #0971d8; /* Cambia el color del h2 en esta sección */
}

.topics-section {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 1) 100%); /* Degradado radial negro */}

.topics-section .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.topic-item {
    background-color: var(--text-color-light);
    color: #000000;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topic-item h3{
    color:#00509e;
}

.topic-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.topic-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.topic-item p {
    text-align: center;
}

/* Sección "Aprobación Social" */
.social-proof-section {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 4rem 1rem;
    text-align: center;
}

.social-proof-section blockquote {
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.social-proof-section p {
    font-size: 1.2rem;
}

.testimonials {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 200px; /* Cambiado a min-height */
    padding: 1rem;
}

.testimonial {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    transition: left 0.5s ease-in-out;
    background-color: #f9f9f900;
    color: #ffffff;
    padding: 1rem;
    white-space: normal; /* Permite que el texto se ajuste al ancho del contenedor */
    
}

.testimonial p {
    margin-top: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.testimonial.active {
    left: 0;
}

/* Sección "Inscripción" */
.registration-section {
    text-align: center;
}

.registration-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.registration-section .cta-button {
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-align: center;
    padding: 2rem 0;
}

.footer .social-icons {
    margin-bottom: 1rem;
}

.footer .social-icons a {
    color: var(--text-color-light);
    font-size: 2.5rem !important;
    margin: 0 1.5rem !important;
    transition: transform 0.2s ease, color 0.2s ease !important;
    display: inline-block !important; 

}

.footer .social-icons a:hover {
    color: var(--accent-color) !important;
    transform: scale(1.3) !important;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .header {
        padding: 2rem 1rem; /* Reduce el padding */
        /* background-color: #f8f8f8; Eliminar si no se quiere cambiar el fondo */
    }

    .header h1 {
        font-size: 5vw; /* Escala el tamaño del h1 */
    }

    .header p {
        font-size: 1.1rem;
    }

    .topics-section .grid {
        grid-template-columns: 1fr; /* Apilar en pantallas pequeñas */
    }

    .topic-item {
        padding: 1.5rem;
    }

    .about-section .two-columns {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        gap: 1rem; /* Reducir el espacio entre columnas */
    }

    .header .logo {
        max-width: 80%; /* Escala el logo */
        height: auto;
    }
}

@media (max-width: 590px) {
    .testimonials {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        padding: 10px; /* Reduce el padding si es necesario */
    }

    .testimonial p {
        font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
        margin-bottom: 10px; /* Ajusta márgenes para evitar cortes */
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column; /* Apila los elementos verticalmente */
        text-align: center; /* Centra el texto */
    }

    .header .logo {
        margin-bottom: 1rem; /* Agrega espacio debajo del logo */
    }

    .about-section .two-columns {
        padding: 1.5rem 1rem; /* Reducir el relleno en pantallas muy pequeñas */
    }

    .testimonials {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        padding: 10px; /* Reduce el padding si es necesario */
    }

    .testimonial p {
        font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
        margin-bottom: 10px; /* Ajusta márgenes para evitar cortes */
    }

    }
    
